<h1>Доступ только по пин-коду</h1>

<%= form_tag('', method: 'post') do |f| %>
  <form class="form-inline">
    <div class="form-group">
      <div class="input-group col-xs-8 col-md-4">
        <%= label :pincode, "Пинкод", class: "input-group-addon" %>
        <%= text_field_tag :pincode, params[:pincode], class: 'form-control', autofocus: true %>
      </div>
    </div>

    <div class="actions">
      <%= submit_tag %>
    </div>
  </form>
<% end %>

<%= link_to 'На главную', events_path %>

